@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e7ca48;
}

button {
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 2px outset #767676;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 48px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-center {
    height: 100%;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right {
    height: 100%;
    flex: 1;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 18px;
}

.controls {
    height: 500px;
    width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: papayawhip;
    border: 2px solid black;
    border-radius: 3%;
}

.controls-title {
    font-size: 22px;
}

.btn-active {
    font-size: 20px;
    border-width: 4px;
}

#grid {
    height: 500px;
    width: 500px;
    display: grid;
    background-color: papayawhip;
    border: 1px solid black;
}

.grid-item {
    user-select: none;
    border: 1px solid black;
}
