@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e7ca48;
    user-select: none;
}

a {
    color: inherit;
    transition: 0.25s;
}

a:hover {
    color: #4682b4;
}

button {
    height: 45px;
    width: 100px;
    padding: 5px;
    font-size: 16px;
    border: 2px outset #767676;
}

/* Header */
.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 58px;
}

/* Main */
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-center {
    height: 100%;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

/* Grid */
#grid {
    height: 600px;
    width: 600px;
    display: grid;
    background-color: papayawhip;
    border: 2px solid black;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.grid-item:hover {
    background-color: rgba(128, 128, 128, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.7);
}

/* Sides */
.side-container {
    height: auto;
    width: 300px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: papayawhip;
    border: 2px solid black;
    border-radius: 3%;
}

.side-header {
    font-size: 24px;
}

#color-picker {
    height: 45px;
    width: 100px;
    border: 5px double #767676;
}

.btn-active {
    font-size: 20px;
    border-width: 5px;
}

#size-slider {
    width: 80%;
}

#size-slider-output {
    height: 45px;
    display: flex;
    align-items: center;
    color: #4682b4;
}

/* Footer */
.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 20px;
}
